{% extends "student_app/base.html" %}
{% load l10n %}

{% block content %}
<h1>Daftar Latihan</h1>
<table class='table'>
  <thead>
    <th>No.</th>
    <th>Kode</th>
    <th>Paket</th>
    <th>Biaya</th>
    <th>Masa Berlaku</th>
    <th>Jumlah Latihan</th>
  </thead>
  {% for order in student_order_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'student-app:student-order-detail' order.pk %}"><strong>{{ order.id }}/{{ order.student.nama_panggilan }}<strong></a></td>
      <td>{{ order.product }}</td>
      <td>
        Rp {{ order.bill|localize }}
        {% if order.diskon %}
          {% widthratio order.diskon 1 100 as disc %}
          <strong><sup class='text-warning'>*Promo {{disc}}%</sup></strong>
        {% endif %}
      </td>
      <td>
        {{ order.tanggal_transaksi }} - {{ order.tanggal_expired }} |
        <strong>
        {% if order.is_expired == 'EXPIRED' %}
          <span class='text-danger'>{{ order.is_expired }}</span>
        {% else %}
          <span class='text-success'>{{ order.is_expired }}</span>
        {% endif %}
        </strong>
      </td>
      <td>{{ order.p_total }} / {{ order.product.jumlah_pertemuan }} |
        <strong>
          {% if order.p_status == 'SELESAI' %}
            <span class='text-danger'>{{ order.p_status }}</span>
          {% else %}
            <span class='text-success'>{{ order.p_status }}</span>
          {% endif %}
        </strong>
      </td>
    </tr>

  {% endfor %}
</table>

{% endblock content %}
